body {
  background-image: url(../background.jpg);;
  background-repeat: no-repeat;
 }

.white {
  background-color: white;
  border-radius: 25px;
  margin-top: 2em;

}

.center {
  text-align:center;
}

.welcome {
  color: white;
  font-weight: 300;
  font-family: Lobster;
  text-align: center;
  font-size: 7em;
  margin: 0;
  }


.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 3px solid;
  border-color: white;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: futura;
  border-radius: 25px;
  transition: background-color .25s;
  margin-left: 42%;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
}


.ghost-search-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 3px solid;
  border-color: white;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: futura;
  border-radius: 100px;
  transition: background-color .25s;
}

.ghost-search-button:hover,
 .ghost-button:active {
   background-color: #fff;
   color: #000;
 }
 .searchPageInput{
   background-color: black;
   font-size: 2.5em;
   width: 50%;
   height: 2em;
   border-radius: 500px;
   text-align: center;
   border-style: solid;
   border-color: white;
   border-width: 3px;
   margin: 20px;
   color: white;
   background: transparent;
   transition: border-color .25s;

 }
.searchPageInput:hover,
.searchPageInput:active {
  border-color: #ADD8E6;
}



.hover-er {
  background-color: black;
     transition: background-color .5s;
}

.hover-er:hover {
  background-color: #00bfa5;
}

.underSearchBar {
  padding-top: 2em;
  text-align: center;
}

.productProps {
  padding-bottom: 5px;
}

.productPropsBottom {
  padding-bottom: 20px;
}

.imageCenter {
  margin-left: auto;
  margin-right: auto;
}



::-webkit-input-placeholder {
   font-size: 1em;
   text-align: center;
   font-family: helvetica;
   color: white;
   background: transparent;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 1em;
   text-align: center;
   font-family: helvetica;
   color: white;
   background: transparent;
   font-style: uppercase;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 1em;
   text-align: center;
   font-family: helvetica;
   color: white;
   background: transparent;
   font-style: uppercase;
}

:-ms-input-placeholder {
   font-size: 1em;
   text-align: center;
   font-family: helvetica;
   color: white;
   background: transparent;
   font-style: uppercase;
}

.searchIcon:hover {
  filter: invert(1);

}
