.customButton {
  background-color: black;
  text-transform: none;
  height: 45px;
  border-radius: 25px;
  padding-top: 5px;
}

.underSearchBar {
  padding-top: 2em;
  text-align: center;
}

.productProps {
  padding-bottom: 5px;
}

.productPropsBottom {
  padding-bottom: 20px;
}

.imageCenter {
  margin-left: auto;
  margin-right: auto;
}

.ghost {
  background-color: white;
  border-color: gray;
  width: 80px;
  height: 45px;
  border-radius: 10px;
  font-family: "Roboto";
  color: gray;
  font-size: 15px;
  border-width: 2px;
}

.ghost:hover {
  background-color: #FDF8FF;
  color: black;
  border-color: black;


}

.float-button {
  /*border-radius: 50%;*/
  /*width: 30px;*/
  /*position: absolute;*/
  /*bottom: 30em; /* Adjust to where you want it */*/
  left: 40em;
  top: .5em;
}

/*.float-button .height_fix {
  margin-top: 100%;
}*/

ul > li {
  padding-bottom: 3em;
}
ul li {
  padding-top: 1px;
}

.customSearchForm {
  font-size: 2em;
  text-align: center;
}

::-webkit-input-placeholder {
   font-size: 2em;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 2em;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 2em;
   text-align: center;
}

:-ms-input-placeholder {
   font-size: 2em;
   text-align: center;
}

.searchIcon {
  height: 20%;
  width: 20%;
  text-align: center;

}

.loginIcon {
  height: 55%;
  width: 55%;
  text-align: center;
}

.homeIcon {
  height: 55%;
  width: 55%;
}

.cartIcon {
  height: 55%;
  width: 55%;
}

.signupIcon {
  height: 25%;
  width:  25%;
}




.navIcons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.topCorner{
   position:absolute;
   top:0;
   right:0;
 }


/*.blackBackground {
  background-color: black;
}*/
