
.black {
  background-color: black;
  width: 80px;
  height: 40px;
  border-radius: 10px;
}

.float-button {
  /*border-radius: 50%;*/
  /*width: 30px;*/
  /*position: absolute;*/
  /*bottom: 30em; /* Adjust to where you want it */*/
  left: 40em;
  top: .5em;
}

/*.float-button .height_fix {
  margin-top: 100%;
}*/

ul > li {
  padding-bottom: 5em;
}
ul li {
  padding-top: 1px;
}

.customSearchForm {
  font-size: 2em;
  text-align: center;
}

::-webkit-input-placeholder {
   font-size: 2em;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 2em;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 2em;
   text-align: center;
}

:-ms-input-placeholder {
   font-size: 2em;
   text-align: center;
}

.searchIcon {
  height: 25%;
  width: 25%;
  text-align: center;

}

.loginIcon {
  height: 55%;
  width: 55%;
  text-align: center;
}

.homeIcon {
  height: 55%;
  width: 55%;
}

.cartIcon {
  height: 55%;
  width: 55%;
}

.signupIcon {
  height: 25%;
  width:  25%;
}




.navIcons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

.topCorner{
   position:absolute;
   top:0;
   right:0;
 }


/*.blackBackground {
  background-color: black;
}*/
