

  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: white;
      float: right;
  }

  li {
      float: left;
  }

  li img {
      display: block;
      color: black;
      text-align: left;
      padding: 14px 16px;
      text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
      background-color: white;
  }

}

.customSearchForm {
  font-size: 2em;
  text-align: center;
}

::-webkit-input-placeholder {
   font-size: 2em;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 2em;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 2em;
   text-align: center;
}

:-ms-input-placeholder {
   font-size: 2em;
   text-align: center;
}

.searchIcon {
  height: 25%;
  width: 25%;
}

.loginIcon {
  height: 55%;
  width: 55%;
  text-align: center;
}

.homeIcon {
  height: 55%;
  width: 55%;
}

.cartIcon {
  height: 55%;
  width: 55%;
}

ul li {
    text-align: center;
}

ul li {
    display: inline;
    width: 100px;
    height: 100px;
}


.navIcons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  float: center;
}

/*.blackBackground {
  background-color: black;
}*/
